body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navbar {
    background-color: rgb(129, 129, 129);
  }
  .services-section {
    padding: 60px 0;
    background-color: #f8f9fa;
  }
  .services-section h2 {
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
  }
  .service-card {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    transition: transform 0.3s;
  }
  .service-card:hover {
    transform: scale(1.05);
  }
  .service-card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .service-card-body {
    padding: 20px;
  }
  .footer {
    padding: 20px;
    background-color: rgb(54, 46, 46);
    color: white;
  }
  .footer a {
    color: white;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }